<div class="profile-section">

    <div class="contact-header">

        <div class="Clients_list_heading">
            <img src="/assets/images/back-arrow.svg" (click)="http.goBack()">
            <h3 class="page-title">Business profile</h3>
            <button type="button" class="btn-outline-primary t-r-btn"
                    (click)="http.navigate('money')"> Manage Multiple Business profile
            </button>
        </div>

        <form [formGroup]="form" (ngSubmit)="finalSubmit()" autocomplete="off" class="bussines-profile-form">

            <div class="bussnies-update">
                <h3>Update your business details</h3>
                <p> Please enter your business details. This information will display in your email footer in compliance
                    with international spam laws.</p>
            </div>

            <div class="modal-body">

                <div class="input-field btn-group add-btn select-opt">
                    <mat-form-field class="full-width select-height" appearance="outline">
                        <mat-label class="abc">Business type</mat-label>
                        <mat-select formControlName="businessType">
                            <mat-option *ngFor="let val of myModel?.businessTypes" [value]="val.value">
                                {{val?.key}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline" hintLabel="Max 26 characters">
                        <mat-label class="required">Business Name</mat-label>
                        <input matInput type="text" formControlName="name" maxlength="26" #input1>
                        <mat-error *ngIf="form.controls['name'].hasError('required')">
                            Please enter business name.
                        </mat-error>
                        <mat-hint align="end">{{input1.value?.length || 0}}/26</mat-hint>
                    </mat-form-field>
                </div>

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">Address 1</mat-label>
                        <input matInput type="text" #address formControlName="address1"
                               (addressSelect)="addressDetails($event)"
                               appGoogleplace onkeydown="return (event.keyCode!==13);">
                        <mat-error *ngIf="form.controls['address1'].hasError('required')">
                            Please enter Address 1.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Address 2</mat-label>
                        <input matInput type="text" formControlName="address2">
                    </mat-form-field>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="input-field">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label class="required">City</mat-label>
                                <input matInput type="text" id="myId" formControlName="city">
                                <mat-error *ngIf="form.controls['city'].hasError('required')">
                                    Please enter city.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-field">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label class="required">Postal code</mat-label>
                                <input matInput type="text" formControlName="postalCode" maxlength="7" appNumberOnly="">
                                <mat-error *ngIf="form.controls['postalCode'].hasError('required')">
                                    Please enter postal code.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-field">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label class="required">Country</mat-label>
                                <input matInput type="text" formControlName="country">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label class="required">State</mat-label>
                                <input matInput type="text" formControlName="state">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <!--            <div class="row">-->
                <!--                <div class="col-md-6">-->
                <!--                    <div class="input-field btn-group add-btn select-opt">-->
                <!--                        <mat-form-field class="full-width select-height" appearance="outline">-->
                <!--                            <mat-label class="required">Country</mat-label>-->
                <!--                            <mat-select formControlName="country"-->
                <!--                                        (selectionChange)="countryList(form.value.country)">-->
                <!--                                <mat-option *ngFor="let val of myModel?.countries" [value]="val.country_name">-->
                <!--                                    {{val?.country_name}}</mat-option>-->
                <!--                            </mat-select>-->
                <!--                        </mat-form-field>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="col-md-6">-->
                <!--                    <div class="input-field btn-group add-btn select-opt">-->
                <!--                        <mat-form-field class="full-width select-height" appearance="outline">-->
                <!--                            <mat-label class="required">State</mat-label>-->
                <!--                            <mat-select formControlName="state">-->
                <!--                                <mat-option *ngFor="let val of myModel?.states" [value]="val.state_name">-->
                <!--                                    {{val?.state_name}}</mat-option>-->
                <!--                            </mat-select>-->
                <!--                        </mat-form-field>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">Phone</mat-label>
                        <input matInput type="text" appNumberOnly maxlength="15"
                               formControlName="phone">
                        <mat-error *ngIf="form.controls['phone'].hasError('required')">
                            Please enter phone.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">Business Email</mat-label>
                        <input matInput type="text"
                               formControlName="email">
                        <mat-error *ngIf="form.controls['email'].hasError('required')">
                            Please enter email.
                        </mat-error>
                        <mat-error
                                *ngIf="form.controls['email'].hasError('pattern')">
                            Please enter valid email.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Website</mat-label>
                        <input matInput type="text"
                               formControlName="website">
                        <mat-error
                                *ngIf="form.controls['website'].hasError('pattern')">
                            Please enter valid website url.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="bussnies-update">
                        <h3>Update your brand settings</h3>
                        <p>Your logo and colors will appear when you create quotes, invoices, campaigns, emails, landing
                            pages, and more.</p>
                    </div>
                </div>

                <div class="uploaded-img text-center" *ngIf="form.value.imageThumbnail">
                  <span class="clear-icon"
                        (click)="form.controls.imageThumbnail.patchValue('');form.controls.imageOriginal.patchValue('')">
                        <img src="assets/images/ic_close.svg">
                </span>
                    <img [src]="form?.value?.imageThumbnail"
                         class="thumb-img">
                </div>

                <div class="file-upload clickable" style="margin-bottom: 11px;"
                     *ngIf="!form.value.imageThumbnail">
                    <section class="no-pointer-events">
                        <div class="circle">
                            <svg class="icon-upload icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     id="upload-cloud">
                                    <path
                                            d="M12 10.998a1 1 0 0 1 .707.293l4 4.002a1 1 0 0 1-1.414 1.414L13 14.413V21a1 1 0 1 1-2 0v-6.587l-2.293 2.294a1 1 0 0 1-1.414-1.414l4-4.002a1 1 0 0 1 .707-.293zM9 3c2.935 0 5.5 1.581 6.89 3.933.02.032.041.051.056.06A.071.071 0 0 0 15.96 7H17a6 6 0 0 1 3.601 10.8 1 1 0 0 1-1.201-1.6A4 4 0 0 0 17 9h-1.042c-.788 0-1.439-.457-1.79-1.049A6 6 0 1 0 4.8 15.286a1 1 0 1 1-1.399 1.428A8 8 0 0 1 9 3z"
                                            fill-rule="evenodd"></path>
                                </svg>
                            </svg>
                        </div>
                        <div class="file-type" style="display: none;"></div>
                    </section>
                    <section *ngIf="!loading" id="initial-info" class="no-pointer-events">
                        <h4 class="label semibold"> Upload Image </h4>
                        <h6 class="instructions"> Drag &amp; drop here or
                            browse </h6>
                        <h6 class="allowedFilesLabel"> jpeg, png files are acceptable </h6>
                    </section>

                    <section *ngIf="loading" id="initial-info" class="no-pointer-events">
                        <h4 class="label semibold"> Uploading...</h4>
                    </section>

                    <input accept="image/x-png,image/gif,image/jpeg" multiple="" type="file"
                           (change)="uploadImage($event.target.files[0])">
                    <mat-error
                            *ngIf="form.controls['imageThumbnail'].hasError('required') && form.controls.imageThumbnail.touched">
                        Please upload image.
                    </mat-error>
                </div>

                <br>
                <div class="input-field">
                    <div class="row">

                        <div class="col-md-6 form-group my-picker">
                            <label>Primary color</label>
                            <div class="input-group" [(colorPicker)]="color1">
                                <input type="text" class="form-control" readonly
                                       aria-describedby="btnGroupAddon" [value]="color1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon" [style.border-color]="color1"
                                         [style.background]="color1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group my-picker">
                            <label>Secondary color</label>
                            <div class="input-group" [(colorPicker)]="color2">
                                <input type="text" class="form-control" readonly
                                       aria-describedby="btnGroupAddon" [value]="color2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" [style.border-color]="color2"
                                         [style.background]="color2">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <br>
                <div class="button-row">
                    <button type="submit" class="btn btn-outline-primary">Update business profile</button>
                    <!--                    <button type="button" class="btn btn-link text-button" (click)="http.goBack()">Cancel-->
                    <!--                    </button>-->
                </div>

            </div>
        </form>

    </div>

</div>
<br>
<br>

