<div class="profile-section">

    <div class="contact-header">
        <div class="Clients_list_heading">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()">
            <h3 class="page-title">Smart Forms</h3>
            <button class="btn-outline-primary t-r-btn" (click)="onCreateForm()">Create form
            </button>
        </div>

    </div>


    <!-- ---------------------table for form listing ---------------------------->
    <div class="smart-form-listing-table">
        <table class="smart-table-list" matSort (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th class="form-name" mat-sort-header="name">Form Name</th>
                    <th class="description">Description</th>
                    <th class="added-on" mat-sort-header="addedOn">Added On</th><!-- <button class="down-arrow"><img src="../../../../assets/images/down-blue-arrow.svg" width="20"></button> -->
                    <th class="status" mat-sort-header="status">Status</th>
                    <th class="actions-table">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loader">
                <tr *ngFor="let f of sortedData; let i=index">
                    <td class="form-name" (click)="onUpdate(f)">{{ f.name }}</td>
                    <td class="description new-description" style="width: 500px;" (click)="onUpdate(f)">
                        <p matTooltip="{{f.description}}" matTooltipClass="custom-tooltip">{{ f.description }}</p>
                    </td>
                    <td class="added-on" (click)="onUpdate(f)">{{ f.createdAt | date: 'dd/MM/y'}}</td>
                    <td class="status" (click)="onUpdate(f)"><span *ngIf="f.status == 'DRAFT'" class="not-published">Not
                            Published</span><span *ngIf="f.status == 'PUBLISHED'" class="published">Published</span>
                    </td>
                    <td class="actions-table"><button class="delete-icon" (click)="onDelete(f._id)">
                        <img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                        <button *ngIf="f.status == 'PUBLISHED'" class="delete-icon" (click)="copyLink(f._id)"><img src="../../../../assets/images/copy.svg" alt="copy" width="28"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <table mat-table matSort [dataSource]="dataSource" class="smart-table-list" >
            <ng-container matColumnDef="name">
                <th class="form-name" (click)="onUpdate(f)" mat-header-cell *matHeaderCellDef>Form Name</th>
                <td class="form-name" mat-cell *matCellDef="let f">{{ f.name }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th class="description" mat-header-cell *matHeaderCellDef>Description</th>
                <td class="description new-description" style="width: 500px;" (click)="onUpdate(f)" mat-cell *matCellDef="let f">
                    <p matTooltip="{{f.description}}" matTooltipClass="custom-tooltip">{{ f.description }}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th class="added-on" mat-header-cell *matHeaderCellDef>Added On</th>
                <td class="added-on" (click)="onUpdate(f)" mat-cell *matCellDef="let f">{{ f.createdAt.slice(0,10) }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th class="status" mat-header-cell *matHeaderCellDef>Status</th>
                <td class="status" mat-cell *matCellDef="let f" class="status" (click)="onUpdate(f)">
                    <span *ngIf="f.status == 'DRAFT'" class="not-published">Not Published</span>
                    <span *ngIf="f.status == 'PUBLISHED'" class="published">Published</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th class="actions-table" mat-header-cell *matHeaderCellDef>Actions</th>
                <td class="actions-table" mat-cell *matCellDef="let f"><button class="delete-icon" (click)="onDelete(f._id)">
                    <img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    <button *ngIf="f.status == 'PUBLISHED'" class="delete-icon" (click)="copyLink(f._id)"><img src="../../../../assets/images/copy.svg" alt="copy" width="28"></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <thead>
                <tr>
                    <th class="form-name">Form Name</th>
                    <th class="description">Description</th>
                    <th class="added-on">Added On <button class="down-arrow"><img
                                src="../../../../assets/images/down-blue-arrow.svg" width="20"></button></th>
                    <th class="status">Status</th>
                    <th class="actions-table">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loader">
                <tr *ngFor="let f of formsList; let i=index">
                    <td class="form-name" (click)="onUpdate(f)">{{ f.name }}</td>
                    <td class="description new-description" style="width: 500px;" (click)="onUpdate(f)">
                        <p matTooltip="{{f.description}}" matTooltipClass="custom-tooltip">{{ f.description }}</p>
                    </td>
                    <td class="added-on" (click)="onUpdate(f)">{{ f.createdAt.slice(0,10) }}</td>
                    <td class="status" (click)="onUpdate(f)"><span *ngIf="f.status == 'DRAFT'" class="not-published">Not
                            Published</span><span *ngIf="f.status == 'PUBLISHED'" class="published">Published</span>
                    </td>
                    <td class="actions-table"><button class="delete-icon" (click)="onDelete(f._id)">
                        <img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                        <button *ngIf="f.status == 'PUBLISHED'" class="delete-icon" (click)="copyLink(f._id)"><img src="../../../../assets/images/copy.svg" alt="copy" width="28"></button>
                    </td>
                </tr>
            </tbody>

        </table> -->
    </div>
    <ng-container *ngIf="loader">
        <div class="first-section-wrapper">
            <div class="gravatar-title">
                <div *ngFor="let val of ['','','']">
                    <ngx-skeleton-loader
                        [theme]="{ width: '100%', 'border-radius': '0', height: '60px', 'margin-bottom': '3px','z-index':'99','margin-left': '0px','margin-top': '0','border': 'none','left':'0'}">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </ng-container>
</div>