<div class="profile-section">

    <div class="contact-header">
        <div class="Clients_list_heading">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()">
            <h3 class="page-title">Smart Forms</h3>
            <button class="btn-outline-primary t-r-btn" (click)="openAddUser()">Create form
            </button>
        </div>

    </div>


    <!-- ---------------------table for form listing ---------------------------->
    <div class="smart-form-listing-table">
        <table class="smart-table-list">
            <thead>
                <tr>
                    <th class="form-name">Form Name</th>
                    <th class="description">Description</th>
                    <th class="added-on">Added On <button class="down-arrow"><img
                                src="../../../../assets/images/down-blue-arrow.svg" width="20"></button></th>
                    <th class="status">Status</th>
                    <th class="actions-table">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="!loader">
                <tr *ngFor="let f of formsList; let i=index">
                    <td class="form-name" (click)="onUpdate(f)">{{ f.name }}</td>
                    <td class="description new-description" style="width: 500px;" (click)="onUpdate(f)">
                        <p>{{ f.description }}</p>
                    </td>
                    <td class="added-on" (click)="onUpdate(f)">{{ f.createdAt.slice(0,10) }}</td>
                    <td class="status" (click)="onUpdate(f)"><span *ngIf="f.status == 'DRAFT'" class="not-published">Not
                            Published</span><span *ngIf="f.status == 'PUBLISHED'" class="published">Published</span>
                    </td>
                    <td class="actions-table"><button class="delete-icon" (click)="onDelete(f._id)"><img
                                src="../../../../assets/images/trash-icon.svg" width="20"></button><button
                            class="delete-icon"><img src="../../../../assets/images/copy.svg" alt="copy"
                                width="28"></button></td>
                </tr>
            </tbody>

        </table>
    </div>
    <ng-container *ngIf="loader">
        <div class="first-section-wrapper">
            <div class="gravatar-title">
                <div *ngFor="let val of ['','','']">
                    <ngx-skeleton-loader
                        [theme]="{ width: '100%', 'border-radius': '0', height: '60px', 'margin-bottom': '3px','z-index':'99','margin-left': '0px','margin-top': '0','border': 'none','left':'0'}">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </ng-container>
</div>