<div class="modal-header email_str_header">
    <section id="close" class="navigation">
        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()">
            <img src="/assets/images/ic_close.svg">
        </button>
    </section>
    <section class="text">
        <h4>Add a contact</h4>
    </section>
    <section class="action">
        <button type="submit" class="btn save-btn" (click)="finalSubmit()"
                [ngClass]="{'btn-primary':form.valid == true}">Save
        </button>
    </section>

</div>
<form [formGroup]="form" autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="avatar-wrapper col-md-12 text-center">
                <div class="avatar avatar default show-avatar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="user" fill="#fff">
                        <path d="M19 14a2 2 0 0 1 2 2v4a1 1 0 1 1-2 0v-4H5v4a1 1 0 1 1-2 0v-4a2 2 0 0 1 2-2zM12 2a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"
                              fill-rule="evenodd"></path>
                    </svg>
                </div>
            </div>

            <div class="col-md-12 toggle-btn-group">
                <mat-button-toggle-group #group="matButtonToggleGroup" class="full-width"
                                         formControlName="contactsType">
                    <mat-button-toggle value=1 aria-label="Text align left" class="full-width">
                        Lead <i class="fas fa-circle"
                                [ngClass]="{'orange-option':form.value.contactsType == 1}">
                    </i>
                    </mat-button-toggle>
                    <mat-button-toggle value=2 aria-label="Text align center" class="full-width">
                        Client <i class="fas fa-circle"
                                  [ngClass]="{'blue-option':form.value.contactsType == 2}"></i>
                    </mat-button-toggle>
                    <mat-button-toggle value=3 aria-label="Text align right" class="full-width">
                        Other <i class="fas fa-circle"
                                 [ngClass]="{'black-option':form.value.contactsType == 3}"></i>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="col-md-6 input-field">
                <mat-form-field class="full-width my-form-field" appearance="outline" hintLabel="Max 26 characters">
                    <mat-label class="required">First Name</mat-label>
                    <input matInput placeholder="Enter first name" pattern="(^[a-zA-Z](.)*)$" type="text" maxlength="26" #input
                           formControlName="firstName">
                    <mat-error *ngIf="form.controls['firstName'].hasError('required')">
                        Please enter first name.
                    </mat-error>
                    <mat-error *ngIf="!form.get('firstName').valid">
                        Please enter valid first name.
                    </mat-error>
                    <mat-hint align="end">{{input.value?.length || 0}}/26</mat-hint>

                </mat-form-field>
            </div>

            <div class="col-md-6 input-field">
                <mat-form-field class="full-width" appearance="outline"  hintLabel="Max 26 characters">
                    <mat-label class="required">Last Name</mat-label>
                    <input matInput placeholder="Enter first name" type="text" pattern="(^[a-zA-Z](.)*)$"
                           formControlName="lastName" maxlength="26" #input1>
                    <mat-error *ngIf="form.controls['lastName'].hasError('required')">
                        Please enter last name.
                    </mat-error>
                    <mat-error *ngIf="!form.get('lastName').valid">
                        Please enter valid second name.
                    </mat-error>
                    <mat-hint align="end">{{input1.value?.length || 0}}/26</mat-hint>

                </mat-form-field>
            </div>

            <div class="col-md-12 input-field">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="required">E-mail</mat-label>
                    <input matInput type="text" formControlName="email"
                           placeholder="Email">
                    <mat-error *ngIf="form.controls['email'].hasError('required')">
                        Please enter email.
                    </mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        Please enter valid email.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-7 input-field">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="required">Phone Number</mat-label>
                    <input matInput placeholder="Enter phone number" type="tel"
                           appNumberOnly  maxlength="15"
                           formControlName="phoneNumber">
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
                        Please enter phone number.
                    </mat-error>
                
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('minlength')">
                        Your phone must be at least 10 characters long.
                    </mat-error>
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('maxlength')">
                        Your phone cannot exceed 15 characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-5 btn-group add-btn select-opt">
                <mat-form-field class="full-width select-height" appearance="outline">
                    <mat-label class="required">Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="work" default>Work</mat-option>
                        <mat-option value="home">Home</mat-option>
                        <mat-option value="mobile">Mobile</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12 input-field">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Add a Note</mat-label>
                    <textarea matInput placeholder="Add a note" formControlName="notes"
                              rows="5"> </textarea>
                </mat-form-field>
            </div>

            <!--            <div class="col-md-12 text-center ">-->
            <!--                <p class="m-0">Need to enter specific data about your contacts? <a href="#">Create a Smart Form</a></p>-->
            <!--            </div>-->

        </div>

    </div>

</form>
