<div class="main-header-move-content">
    <div class="left-title-main">Move 1 items to....</div>
    <div class="right-close">
        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()">
            <img src="/assets/images/ic_close.svg">
        </button>
    </div>
</div>
<div class="bread-cumbs-main">
        <span class="bredcumbs-menu active">All</span>
        >
        <span class="bredcumbs-menu">One1</span>
        > 
        <span class="bredcumbs-menu">One3</span>
</div>
<div class="middle-content-for-move">
    <div class="No-folder-title">
        <span >No folders</span>
        Create a new folder
    </div>

</div>
<div class="last-row-main">
    <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()">
        Cancel
    </button>
    <button class="icon-only move-here" type="button">
        Move here
    </button>
</div>
