<div class="main-build-automation">
    <div class="build-automation-header-main">
        <div class="left-col">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="saveDraft()" width="50">
            <span>Build automation</span>
        </div>
        <div class="right-col">
            <button class="next-btn">Next</button>
        </div>


    </div>
    <div class="container col-3" style="margin-top: 10%;">
        <app-automation-preview></app-automation-preview>
    </div>
</div>