.select-a-starting-main .heading-file {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #2A2A2A;
}

.select-a-starting-main {
    padding: 30px 40px;
    border-bottom: 1px solid #ccc;
}