<!-- <div class="when-build-main-wrapper">
    <ng-container [ngSwitch]="isWhenAdded">
        <ng-container *ngSwitchCase="false">
            <div class="card-main">
                <div class="when-heading">
                    <img src="../../../assets/images/cloud-green.svg" width="20">
                    <span>When</span>
                </div>
                <div class="short-description">...this occurs, start my automation.</div>
                <div class="add-icon-blue">
                    <button class="btn" [routerLink]="[AutomationURL.AUTOMATION, AutomationURL.BUILD_AUTOMATION_MAIN]">+</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="true">
            <div class="card-main" [routerLink]="[AutomationURL.AUTOMATION, AutomationURL.BUILD_AUTOMATION_MAIN]">
                <div class="inner-card-main">
                    <div class="when-heading">
                        <img src="../../../assets/images/cloud-green.svg" width="20">
                        <span>When</span>
                    </div>
                    <div class="short-description">Lead form is submitted</div>
                </div>
               
        </div>
        </ng-container>
    </ng-container>

    <img [src]="'/assets/images/back-arrow.svg'" width="50" class="down-arrow">
    <ng-container [ngSwitch]="isThenAdded">
        <ng-container *ngSwitchCase="false">
            <div class="card-main">
                <div class="when-heading">
                    <img src="../../../assets/images/blue-flash.svg" width="20">
                    <span>Then</span>
                </div>
                <div class="short-description">...this will be automated.</div>
                <div class="add-icon-blue">
                    <button class="btn" [routerLink]="[AutomationURL.AUTOMATION, AutomationURL.BUILD_AUTOMATION_THEN]" >+</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="true">
            <div class="card-main" [routerLink]="[AutomationURL.AUTOMATION, AutomationURL.FREE_CONSULATION_THEN]">
                <div class="inner-card-main">
                    <div class="when-heading">
                        <img src="../../../assets/images/blue-flash.svg" width="20">
                        <span>Then</span>
                    </div>
                </div>
                <div class="short-description send-free-email">Send (Free consulation) email</div> -->
<!-- <div class="main-expansion-panal">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="error-icon"></div>
                                Add a tag
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>This is the primary content of the panel.</p>
                        </mat-expansion-panel>
                         
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="error-icon"></div>
                                        Send notification
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                          </mat-expansion-panel>
                        
                           <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="error-icon"></div>
                                        Create task
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                      </mat-accordion> 
                      
                </div> -->
<!--                
            </div>
        </ng-container>
    </ng-container>

</div> -->




<div   (click)="onEventChange.emit(EventType.WHEN)"  class="card-main first-card">
    <div class="when-heading">
        <img src="../../../assets/images/cloud-green.svg" width="20">
        <span>When</span>
    </div>
    <div class="short-description">...this occurs, start my automation.</div>
</div>

<div class="text-center center-down-img">
    <img [src]="'/assets/images/back-arrow.svg'" width="50" class="down-arrow">
</div>
<div class="then-card">
    <div class="when-heading">
        <img src="../../../assets/images/blue-flash.svg" width="20">
        <span>Then</span>
    </div>
    <div class="short-description">...this will be automated.</div>
    <div class="add-icon-blue">
        <button (click)="onEventChange.emit(EventType.THEN)" class="btn" >+</button>
    </div>
</div>