<div class="add-build-automation-main">
    <!-----------------header-main-------------------->
    <div class="build-automation-header-main">
        <div class="left-col">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()" width="50">
            <span>Build automation</span>
        </div>
        <div class="right-col">
            <div class="inner-left-col">
                <span [ngClass]="{ 'color-disabled' : ($eventSelected | async) !== EventType.WHEN }">When</span>
                <img [src]="'/assets/images/back-arrow.svg'" width="50">
                <span [ngClass]="{ 'color-disabled' : ($eventSelected | async) !== EventType.THEN }">Then</span>
            </div>
            <div class="inner-right-col">
                <label *ngIf="($eventSelected | async) == EventType.THEN" class="previewd-save">
                    <img src="../../../../assets/images/tick.svg" width="20">
                    Saved
                </label>
                <button class="btn">Preview</button>
            </div>
        </div>
    </div>
    <!-------------------------------------end of header--------------------------------->
    <div class="inner-add-build-main">
        <div class="left-col">
            <app-automation-preview></app-automation-preview>
        </div>
{{($eventSelected | async)}}
        <!-- TOGGLING BETWEEN WHEN AND THEN EVENT -->
        <ng-container [ngSwitch]="($eventSelected | async)">
            <ng-container *ngSwitchCase="EventType.WHEN">

                <div class="right-col">
                    <div class="after-submitted-lead-form-main-for-edit-option">
                        <div [ngSwitch]="whenInternalEvents">
                            <div *ngSwitchCase="WHEN_INTERNAL_EVENTS.on_delete_card">
                                <app-when-suggestions (onSelectedEvent)="addWhenTask($event)"></app-when-suggestions>
                            </div>
                            <div *ngSwitchCase="WHEN_INTERNAL_EVENTS.on_when_event_added">
                                <app-display-card 
                                    (onDelete)="handleDeleteTask($event)"
                                    [taskData]="($whenEvent|async)"
                                    [eventType]="EventType.WHEN">
                                </app-display-card>
                            </div>
                            <div *ngSwitchDefault>output2</div>
                        </div>

                    </div>
                </div>

            </ng-container>
            <ng-container *ngSwitchCase="EventType.THEN">
                <div class="right-col">
                    <div class="after-submitted-lead-form-main-for-edit-option">
                        <div [formGroup]="thenForm">
                            <div formArrayName="tasks" class="mb-5"
                                *ngFor="let item of ($thenTasks|async)?.controls; let i = index;">
                                <app-display-card (onDelete)="handleDeleteTask($event)" [index]="i" [taskData]="item"
                                    [eventType]="EventType.THEN"></app-display-card>
                            </div>

                        </div>
                        <ng-container *ngIf="((($thenTasks|async)?.length == 0) || (!($thenTasks|async))); else addCardBlock">
                            <app-then-suggestions (onSelectedEvent)="addThenTask($event)"></app-then-suggestions>
                        </ng-container>
                        <ng-template #addCardBlock>
                            <div [ngSwitch]="thenInternalEvents">
                                <div *ngSwitchCase="THEN_INTERNAL_EVENTS.on_then_event_selected">
                                    <div class="text-and-then">
                                        and then
                                    </div>
                                    <div class="add-button">
                                        <button class="add-btn-tag"
                                            (click)="thenInternalEvents = THEN_INTERNAL_EVENTS.on_add_then_event_clicked">
                                            <!-- (click)="addThenTask()" -->
                                            <img src="../../../../assets/images/add-icon.svg" width="30">
                                        </button>
                                    </div>
                                    <div class="what-else">
                                        What else needs to be automated ?
                                    </div>
                                </div>
                                <div *ngSwitchCase="THEN_INTERNAL_EVENTS.on_add_then_event_clicked">
                                    <app-then-suggestions (onSelectedEvent)="addThenTask($event)">
                                    </app-then-suggestions>
                                </div>
                                <div *ngSwitchDefault>output2</div>
                            </div>
                        </ng-template>


                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

</div>