<div class="add-build-automation-main">
    <!-----------------header-main-------------------->
    <div class="build-automation-header-main">
        <div class="left-col">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()" width="50">
            <span>Build automation</span>
        </div>
        <div class="right-col">
            <div class="inner-left-col">
                <span [ngClass]="{ 'color-disabled' : eventSelected !== EventType.WHEN }">When</span>
                <img [src]="'/assets/images/back-arrow.svg'" width="50">
                <span [ngClass]="{ 'color-disabled' : eventSelected !== EventType.THEN }">Then</span>
            </div>
            <div class="inner-right-col">
                <label *ngIf="eventSelected == EventType.THEN" class="previewd-save">
                    <img src="../../../../assets/images/tick.svg" width="20">
                    Saved
                </label>
                <button class="btn">Preview</button>
            </div>
        </div>
    </div>
    <!-------------------------------------end of header--------------------------------->
    <div class="inner-add-build-main">
        <div class="left-col">
            <div (click)="eventSelected = EventType.WHEN" class="card-main first-card">
                <div class="when-heading">
                    <img src="../../../assets/images/cloud-green.svg" width="20">
                    <span>When</span>
                </div>
                <div class="short-description">...this occurs, start my automation.</div>
            </div>

            <div class="text-center center-down-img">
                <img [src]="'/assets/images/back-arrow.svg'" width="50" class="down-arrow">
            </div>
            <div class="then-card">
                <div class="when-heading">
                    <img src="../../../assets/images/blue-flash.svg" width="20">
                    <span>Then</span>
                </div>
                <div class="short-description">...this will be automated.</div>
                <div class="add-icon-blue">
                    <button class="btn" (click)="eventSelected = EventType.THEN">+</button>
                </div>
            </div>
        </div>

        <!-- TOGGLING BETWEEN WHEN AND THEN EVENT -->
        <ng-container [ngSwitch]="eventSelected">
            <ng-container *ngSwitchCase="EventType.WHEN">

                <div class="right-col">
                    <div class="after-submitted-lead-form-main-for-edit-option">
                        <div [ngSwitch]="whenSwitchSuggestionOption">
                            <div *ngSwitchCase="WHEN_SHOW_OPTION.show_suggestions">
                                <app-when-suggestions (onSelectedEvent)="addWhenTask($event)"></app-when-suggestions>
                            </div>
                            <div *ngSwitchCase="WHEN_SHOW_OPTION.show_card">
                                <app-display-card (onDelete)="handleDeleteTask($event)" [taskData]="whenForm"
                                    [eventType]="EventType.WHEN"></app-display-card>
                            </div>
                            <div *ngSwitchDefault>output2</div>
                        </div>

                    </div>
                </div>

            </ng-container>
            <ng-container *ngSwitchCase="EventType.THEN">
                <div class="right-col">
                    <div class="after-submitted-lead-form-main-for-edit-option">
                        <div [formGroup]="thenForm">
                            <div formArrayName="tasks" class="mb-5"
                                *ngFor="let item of thenForm.get('tasks').controls; let i = index;">
                                <app-display-card 
                                    (onDelete)="handleDeleteTask($event)" 
                                    [index]="i" [taskData]="item"
                                    [eventType]="EventType.THEN"></app-display-card>
                            </div>

                        </div>
                        <ng-container *ngIf="this.thenTasks?.length == 0 || !this.thenTasks; else addCardBlock">
                            <app-then-suggestions (onSelectedEvent)="addThenTask($event)"></app-then-suggestions>
                        </ng-container>
                        <ng-template #addCardBlock>
                            <div [ngSwitch]="thenSwitchSuggestionOption">
                                <div *ngSwitchCase="THEN_SHOW_OPTION.show_add_card">
                                    <div class="text-and-then">
                                        and then
                                    </div>
                                    <div class="add-button">
                                        <button class="add-btn-tag"
                                            (click)="thenSwitchSuggestionOption = THEN_SHOW_OPTION.show_suggestions">
                                            <!-- (click)="addThenTask()" -->
                                            <img src="../../../../assets/images/add-icon.svg" width="30">
                                        </button>
                                    </div>
                                    <div class="what-else">
                                        What else needs to be automated ?
                                    </div>
                                </div>
                                <div *ngSwitchCase="THEN_SHOW_OPTION.show_suggestions">
                                    <app-then-suggestions (onSelectedEvent)="addThenTask($event)"></app-then-suggestions>
                                </div>
                                <div *ngSwitchDefault>output2</div>
                            </div>
                        </ng-template>


                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

</div>