<div class="profile-section">

    <div class="Clients_list_heading">  
        <h3 class="inter-page-heading">Users</h3>
        <div class="btn-combobox">
            <button class="back-btn" (click)="http.goBack()" >Back</button>
            <button class="add-user-btn"  (click)="openAddUser()">Add a user</button>
        </div>
    </div>

    <div class="contact-header">

        <!-- --------------------------------------------OLD CODE COMMENTED HERE---------------------------------------------- -->
        <!-- <div class="table-grid">
            <div class="table-wrapper">
                <table>
                    <colgroup>
                        <col name="col-th-column-7" width="60">
                        <col name="col-th-column-8" width="130">
                        <col name="col-th-column-9" width="130">
                        <col name="col-th-column-10" width="150">
                        <col name="col-th-column-11" width="150">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="sortable">
                            <div class="active-sortable cell">#</div>
                        </th>
                        <th class="sortable">
                            <div class="active-sortable cell">First Name</div>
                        </th>
                        <th class="sortable">
                            <div class="active-sortable cell">Last Name</div>
                        </th>
                        <th class="sortable">
                            <div class="active-sortable cell">E-mail</div>
                        </th>
                        <th class="sortable">
                            <div class="active-sortable cell">Contact No.</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <div class="min-vw-100" *ngIf="!isEmpty && !myModel?.users?.data?.length">
                        <ngx-skeleton-loader count="5"
                                             [theme]="{ 'border-radius': '0', height: '45px', 'margin-bottom': '5px'}">
                        </ngx-skeleton-loader>
                    </div>

                    <div class="no-records-found"
                         *ngIf="isEmpty && !myModel?.users?.data?.length">
                        <label>No sub-admin found!</label>
                    </div>

                    <tr class="selectable-row" *ngFor="let data of myModel?.users?.data;let i = index"
                        (click)="openAddUser(data)">
                        <td class="">
                            <div class="cell">{{i + 1}}</div>
                        </td>
                        <td class="">
                            <div class="cell">
                                <span>{{data?.firstName || '-'}}
                                </span>
                            </div>
                        </td>
                        <td class="">
                            <div class="cell">
                                <span>{{data?.lastName || '-'}}
                                </span>
                            </div>
                        </td>
                        <td class="">
                            <div class="cell">
                                <span>{{data?.email || '-'}}
                                </span>
                            </div>
                        </td>
                        <td class="">
                            <div class="cell">
                                <span>{{data?.phone1 || '-'}}
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody> 
                </table>
            </div>
        </div> -->


        <!-- -------------------------------------------NEW CODE------------------------------- -->
        <div class="search-on-tables">
            <input type="text" [(ngModel)]="searchText" placeholder="Search User...">

        </div>

        <div class="new-table-main">
                <table class="genral-table">
                    <thead>
                        <tr>
                            <th class="first-col-new">#</th>
                            <th class="second-col-new">Name</th>
                            <th class="third-col-new">Phone</th>
                            <th class="fourth-col-new">Email</th>
                            <th class="fifth-col-new">Role</th>
                            <th class="sixth-col-new">Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        <ng-container  *ngIf="isLoading && !myModel?.users?.data?.length">
                            <tr *ngFor="let item of [1, 2, 3, 4, 5]" >
                                <td class="first-col-new">
                                    <div class="shimmer-table shine"></div>
                                </td>
                                <td class="second-col-new">
                                    <div class="shimmer-table shine"></div>
                                </td>
                                <td class="third-col-new">
                                    <div class="shimmer-table shine"></div>
                                </td>
                                <td class="fourth-col-new">
                                    <div class="shimmer-table shine"></div>
                                </td>
                                <td class="fifth-col-new">
                                    <div class="role-icons">
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                    </div>
                                </td> 
                                <td class="sixth-col-new">
                                    <div class="action-btn">
                                        <div class="shimmer-table shine"></div>
                                        <div class="shimmer-table shine"></div>
                                    </div>           
                                </td>

                            </tr>
                        </ng-container>

                        <tr *ngFor="let user of myModel?.users?.data| filter:searchText;let i = index">
                            <td class="first-col-new">{{i + 1}}</td>
                            <td class="second-col-new"><div class="comman-text-field">{{user?.firstName || '-'}}</div></td>
                            <td class="third-col-new">{{user?.phone1 || '-'}}</td>
                            <td class="fourth-col-new"><div class="comman-text-field">{{user?.email || '-'}}</div></td>
                            <td class="fifth-col-new">
                                <div class="role-icons">
                                    
                                    <a [routerLink]="role.path" *ngFor="let role of user.displayedRoles">
                                        <img src="/assets/images/{{role.file}}">
                                    </a>
                                    <!-- <a><img src="../../../../assets/images/New-ui-images/background-people.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/home-background.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/pad-background.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/cards-background.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/card-money.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/card-broadcast.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/card-piplinne.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/chats-card.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/card-vijli.svg"></a>
                                    <a><img src="../../../../assets/images/New-ui-images/card-document.svg"></a> -->

                                </div>
                            </td> 
                            <td class="sixth-col-new">
                                <div class="action-btn">
                                    <a (click)="openAddUser(user)"> <img src="../../../../assets/images/New-ui-images/pencil.svg"> </a>
                                    <a (click)="deleteFun(user)"> <img src="../../../../assets/images/New-ui-images/delete.svg"> </a>
                                </div>           
                            </td>
                        </tr>
                        <tr *ngIf="myModel?.users?.data?.length === 0 && !isLoading">
                            <td class="no-record" colspan="6">No Users Found</td>
                        </tr>
                        <ng-container  *ngIf="(myModel?.users?.data| filter:searchText) as data">
                            <tr *ngIf="data.length == 0 && myModel?.users?.data?.length !== 0">
                              <td class="no-record" colspan="6">No Users Found</td>
                            </tr>
                        </ng-container>

                    </tbody>


                </table>



        </div> 



    </div>
</div>



