<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
            <h4 class="panel-title">
                <a>Lead Form is submitted</a>
            </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="inner-first-row-main">
                    <div class="inner-left-col"> 
                        <label class="form-name-heading">Lead Form</label>
                        <span class="who-is-owner">Langermania</span>
                    </div>
                    <div class="inner-right-col">
                        <a class="btn-combo" >
                            <img src="../../../../assets/images/edit-button-gray.svg" width="20">
                        </a>
                        <a class="btn-combo" >
                            <img src="../../../../assets/images/delete-gray.svg" width="20">
                        </a>
                    </div>
                </div>
                <div class="go-to-your-form">
                    <div class="left-inner-col-footer">
                        <button class="btn" >Go to your form <img src="../../../../assets/images/export-blue-icon.svg" width="35"> </button>
                    </div>
                    <div class="right-inner-col-footer">
                        <button class="btn">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>