<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
         [attr.href]="'#' + random.toString()" >
            <h4 class="panel-title">
                <img class="mr-2" style="width: 45px; height: 45px" [src]="status" alt="">
                <a>Lead Form is submitted</a>
            </h4>
        </div>
        <div [id]="random.toString()" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="inner-first-row-main">
                    <div class="inner-left-col"> 
                        <label class="form-name-heading">Lead Form</label>
                        <span class="who-is-owner">Langermania</span>
                    </div>
                    <div class="inner-right-col">
                        <a class="btn-combo" >
                            <img [src]="statusImages.edit"width="20">
                        </a>
                        <a class="btn-combo" >
                            <img [src]="statusImages.delete" width="20">
                        </a>
                    </div>
                </div>
                <div class="go-to-your-form">
                    <div class="left-inner-col-footer">
                        <button class="btn" >Go to your form <img [src]="statusImages.exportBlueIcon"width="35"> </button>
                    </div>
                    <div class="right-inner-col-footer">
                        <button class="btn">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>