
    <div class="header-for-lead-form-main">
        <div class="inner-left-head">
            <div class="Clients_list_heading">
                <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()">
                <h3 class="page-title">Public Form</h3>
            </div>
        </div>
        <div class="right-col-three-btn">
            <div class="comm-btn">
                <button class="copy-btn">
                    <img src="../../../../assets/images/copy-blue.svg" width="20">
                    Copy code
                </button>
            </div>
            <div class="comm-btn">
                <button class="copy-btn">
                    <img src="../../../../assets/images/copy-blue.svg" width="20">
                    Copy link
                </button>
            </div>
            <div class="comm-btn">
                <button class="copy-btn go-to-form" (click)="onPreview()">
                    <img src="../../../../assets/images/export-blue-icon.svg" width="20">
                    Go to your form
                </button>
            </div>
        </div>
    </div>

<div class="form-description-inner-main">
    Customize your public form with your business name and logo
</div>
<!-- <form [formGroup]="leadForm" (ngSubmit)="onSubmit()"> -->
<div class="main-lead-forms">
    <div class="left-col-lead">
        <!-- ---------------first-strips----- -->
        <div class="first-alert-strips">
            <label class="alert-icon"></label>
            <p>All users on this Clisynk account will be notified whenever a new lead is submitted. Updating your business name and logo here will update your account settings.</p>
        </div>
    <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
        <div class="input-field add-your-business-main">
            <label class="label-name">Add your business name</label>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label class="required">Business Name</mat-label>
                <input matInput #input maxlength="40" type="text" formControlName="businessName">
                <mat-hint align="end">{{ input.value?.length || 0 }}/40</mat-hint>
            </mat-form-field>
        </div>
        <!-- logo-upload -->
        <div class="label-name add-your-logo-heading">Add your logo (optional)</div>
        <div class="upload-logo-optional">
            <input [writeFile]="true" type="file" formControlName="logo" class="upload-btn" (change)="onImageChanged($event)">
            <img src="../../../../assets/images/upload-icon.png" width="70">
            <h3 class="logo-heading">Upload logo</h3>
            <p class="text-description">
                <span class="blue-text">Drag & drop here or browse</span>
                jpeg, png, tiff files are acceptable
            </p>

        </div>
        <div class="info-about-logo">Logo should be at least 300px x 300px</div>
    </form>
        <!-- edit-form-strips -->
        <div class="Edit-your-form">
            <label class="label-name">Edit your form</label>
            <p>Adjust your intake information by adding or removing fields in the form builder.</p>
        </div>

        <button type="button" class="btn btn-outline-primary edit-form-btn" (click)="onEdit()">Edit form</button>

    </div>
    <!-- ---------------right-col---------------->
    <div class="right-col-lead">
        <div class="lead-form-preview">Lead Form preview</div>
        <div class="right-edit-form-main" *ngIf="!loader">
            <div class="business-logo" *ngIf="leadForm.value.logo && leadForm.valid">
                <img src="{{logoUrl}}" height="100px" alt="Image preview...">
            </div>
            <div class="business-name" *ngIf="leadForm.value.businessName">
                <h2>{{ leadForm.value.businessName }}</h2>
            </div>
            <!-- <span class="logo-text-both">Langermania</span>
                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">First Name</mat-label>
                        <input matInput type="text" formControlName="firstname">                   
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">Last Name</mat-label>
                        <input matInput type="text" formControlName="lastname">                   
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label class="required">Email address</mat-label>
                        <input matInput type="text" formControlName="emailaddress">                   
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput type="text" formControlName="phone">                   
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <mat-form-field class="full-width select-height" appearance="outline">
                        <mat-label class="abc">Phone type</mat-label>
                        <mat-select formControlName="phoneType">
                            <mat-option value="Personal">Personal</mat-option>
                            <mat-option value="Office">Office</mat-option>
                            <mat-option value="Home">Home</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <mat-form-field class="full-width select-height" appearance="outline">
                        <mat-label>Add Note</mat-label>
                        <textarea matInput type="text" rows="4" formControlName="note"></textarea>        
                    </mat-form-field>
                </div>
                <div class="submit-btn-row">
                    <button type="submit" class="btn btn-primary" [disabled]="!leadForm.valid">Submit</button>
                </div> -->
                <formio [form]='form'></formio>              
        </div>
        <ng-container *ngIf="loader">
            <div class="first-section-wrapper">
                <div class="gravatar-title">
                    <ngx-skeleton-loader
                        count="5"
                        [theme]="{ 'border-radius': '0', height: '60px', 'margin-bottom': '3px','z-index':'99','margin-left': '0px','margin-top': '0','border': 'none','left':'0'}">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </ng-container> 
    </div>
</div>
<!-- </form> -->
