<div class="right-col choose-form-right-col-body">
    <div class="inner-row-main-vc">
        <button class="btn">Create new form <img src="../../../../assets/images/export-blue-icon.svg" width="35"> </button>
        <div class="search-filed">
            <input type="text" class="search" placeholder="Search">
        </div>
    </div>
    <div class="formlisting-body">
            <div class="any-lead-form-main">
                    <span class="heading-form">lead form</span>
                    <span class="sub-task-main">When lead form is submitted </span>
            </div>
            <div class="public-form-listing-main">
                <div class="heading-of-lead-form" >
                    <span class="comman-name hover-arrow">Smart forms
                        <button class="down-arrow">
                            <img src="../../../../assets/images/down-blue-arrow.svg" width="20">
                        </button>
                    </span>
                    <span class="comman-name color-gray">Created on</span>
                    <span class="comman-name hover-arrow">
                        Status
                        <button class="down-arrow">
                            <img src="../../../../assets/images/down-blue-arrow.svg" width="20">
                        </button>
                    </span>
                </div>
                <div class="form-name-listing">
                    <span class="name">FollowUp</span>
                    <span class="date">1/12/2020</span>
                    <span class="tag unpublished">Draft</span>
                </div>
                <div class="form-name-listing">
                    <span class="name">Untitled 1</span>
                    <span class="date">1/12/2020</span>
                    <span class="tag published">Published</span>
                </div>

            </div>

    </div>
</div>  

