<div class="email-comman-main">
    <div class="first-row-main">
        <div class="left-heding-email">Subject:</div>
        <div class="right-input-field-main">
            <input type="email" />
        </div>
    </div>
    <div class="second-row-main">
        <ckeditor debounce="500" [config]="ckeConfig"></ckeditor>
        <section class="toggle-switch">
            <div class="Signature">
                <span>Signature</span>
            </div>
            <div class="Signature-toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </section>
    </div>
    <div class="third-row-main-content">
        <div class="left-col-three-btn">
            <button class="comman-btn">
                <img src="../../../../assets/images/upload-pin.svg">
            </button>
            <button class="comman-btn">
                <img src="../../../../assets/images/merge-pin.svg">
            </button>
            <button class="comman-btn">
                <img src="../../../../assets/images/document-pin.svg">
            </button>
        </div>
        <div class="rigt-col-next-btn">
            <button class="next-btn"> NEXT</button>
        </div>
    </div>


    
</div>