
.email-comman-main {
    padding: 30px 30px;
    width: 600px;
    .first-row-main {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .left-heding-email{
            width: 22%;
            padding: 11px 17px;
            border: 1px solid #cccc;
            border-radius: 5px;
            border-right: 0px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            color: #979797;
            font-size: 14px;
            padding-right: 0px;
        }
        .right-input-field-main {
            padding: 11px 17px;
            border: 1px solid #cccc;
            border-left: 0;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-radius: 5px;
            width: 100%;
            input{
                font-size: 14px;
                border: none;
                padding: 0;
                width: 100%;
            }
        }
    }
    .second-row-main {
        border: 1px solid #CFD0D1;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        section.toggle-switch {
            border: none;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
    .third-row-main-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid #ccc;
        border-top: 0;
        border-radius: 0px 0px 5px 5px;
        .left-col-three-btn{
            display: flex;
            align-items: center;
            button.comman-btn {
                border: none;
                padding: 0;
                background: no-repeat;
                width: 35px;
                height: 35px;
                margin-right: 7px;
                &:last-child{
                    margin-right: 0px;
                }
                img{
                    width: 100%;
                }
            }
        }
        .rigt-col-next-btn{
            button.next-btn {
                background: #4776E6;
                border-radius: 5px;
                border: none;
                padding: 9px 25px;
                color: #ffff;
                cursor: pointer;
            }
        }
    }
}
