<div class="profile-section">
  <div class="contact-header">
    <div class="Clients_list_heading">
      <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()" />
      <h3 class="page-title">Workspace</h3>
      <button
        class="btn-outline-primary t-r-btn"
        (click)="http.openModal('createWorkspace')"
      >
        Create a Workspace
      </button>
    </div>
  </div>
  <!-- ---------------------table for form listing ---------------------------->
  <div class="smart-form-listing-table">
    <table class="smart-table-list">
      <thead>
        <tr>
          <th class="form-name">Name</th>
          <th class="description">Description</th>
          <th class="added-on">Created On</th>
          <th class="actions-table">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let workspace of allData; let i = index"
          [ngClass]="{ disabled: selectedWorkspace?._id !== workspace?._id }"
        >
          <td
            class="form-name"
            [routerLink]="['/settings/edit-workspace']"
            [queryParams]="{
              workspaceId: workspace?._id,
              workspaceName: workspace?.name
            }"
          >
            <div class="first-col-inner-main">
              <div
                class="first-later-name"
                [ngStyle]="{
                  'background-color': workspace.backgroundColor
                }"
              >
                {{ workspace?.name.toUpperCase().charAt(0) }}
              </div>
              <div class="worked-name">
                {{ workspace?.name }}
                <span>
                  <img
                    src="../../../../assets/images/users-bunch.svg"
                    width="15"
                  />
                  {{ workspace?.contacts }}
                </span>
              </div>
            </div>
          </td>
          <td
            class="description"
            [routerLink]="['/settings/edit-workspace']"
            [queryParams]="{
              workspaceId: workspace?._id,
              workspaceName: workspace?.name
            }"
          >
            {{ workspace.description ? workspace.description : "-" }}
          </td>
          <td
            class="added-on"
            [routerLink]="['/settings/edit-workspace']"
            [queryParams]="{
              workspaceId: workspace?._id,
              workspaceName: workspace?.name
            }"
          >
            {{ workspace?.createdAt | date: "dd/MM/yy" }}
          </td>
          <td class="actions-table">
            <button
              class="delete-icon"
              matTooltip="Edit"
              (click)="openEditWorkspace(workspace)"
            >
              <img
                src="../../../../assets/images/edit-button-gray.svg"
                width="20"
              />
            </button>
            <button
              class="delete-icon"
              matTooltip="Delete"
              (click)="deleteWorkspace(deletePopup, workspace?._id)"
            >
              <img src="../../../../assets/images/trash-icon.svg" width="20" />
            </button>
          </td>
        </tr>
        <tr *ngIf="allData?.length === 0">
          <td class="no-record" colspan="5">No Workspace Found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="loader">
    <div class="first-section-wrapper">
      <div class="gravatar-title">
        <div>
          <ngx-skeleton-loader
            count="3"
            [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '60px',
              'margin-bottom': '3px',
              'z-index': '99',
              'margin-left': '0px',
              'margin-top': '0',
              border: 'none',
              left: '0'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #deletePopup>
  <div class="delete-comp xs">
    <div class="delete-comp-inner">
      <h4>Delete workspace</h4>
      <p>Are you sure you want to delete this workspace?</p>
      <div class="button-row form-group">
        <button
          class="delete-btn"
          type="submit"
          (click)="http.hideModal(); changeStatus(4)"
        >
          Delete
        </button>
        <button
          class="text-button"
          type="button"
          aria-label="Close"
          (click)="http.hideModal()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
