
<div class="profile-section">

    <div class="contact-header">
        <div class="Clients_list_heading">
            <img [src]="'/assets/images/back-arrow.svg'" (click)="http.goBack()">
            <h3 class="page-title">Workspace</h3>
            <button class="btn-outline-primary t-r-btn" (click)="http.openModal('createWorkspace')">Create a Workspace
            </button>
        </div>

    </div>


    <!-- ---------------------table for form listing ---------------------------->
    <div class="smart-form-listing-table">
        <table class="smart-table-list">
            <thead>
                <tr>
                    <th class="form-name">Name</th>
                    <th class="description">Description</th>
                    <th class="added-on">Created On</th>
                    <th class="actions-table"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-name">
                        <div class="first-col-inner-main">
                            <div class="first-later-name A">
                                A
                            </div>
                            <div class="worked-name">A-Clysync-2 
                                <span>
                                    <img src="../../../../assets/images/users-bunch.svg" width="15"> 13
                                </span> 
                            </div>
                        </div>
                    </td>
                    <td class="description">This is description</td>
                    <td class="added-on">9/10/2020</td>
                    <td class="actions-table">
                        <button class="delete-icon" matTooltip="Edit" routerLink="/settings/edit-workspace"><img src="../../../../assets/images/edit-button-gray.svg" width="20"></button>
                        <button class="delete-icon" matTooltip="Delete"><img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    </td>
                </tr>
                <tr>
                    <td class="form-name">
                        <div class="first-col-inner-main">
                            <div class="first-later-name B">
                                B 
                            </div>
                            <div class="worked-name">B-Clysync-Group-3
                                <span>
                                    <img src="../../../../assets/images/users-bunch.svg" width="15"> 13
                                </span> 
                            </div>
                        </div>
                    </td>
                    <td class="description">This is description</td>
                    <td class="added-on">9/10/2020</td>
                    <td class="actions-table">
                        <button class="delete-icon" matTooltip="Edit"><img src="../../../../assets/images/edit-button-gray.svg" width="20"></button>
                        <button class="delete-icon" matTooltip="Delete"><img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    </td>
                </tr>
                <tr>
                    <td class="form-name">
                        <div class="first-col-inner-main">
                            <div class="first-later-name C">
                                C
                            </div>
                            <div class="worked-name">Clysync-2 
                                <span>
                                    <img src="../../../../assets/images/users-bunch.svg" width="15"> 13
                                </span> 
                            </div>
                        </div>
                    </td>
                    <td class="description">This is description</td>
                    <td class="added-on">9/10/2020</td>
                    <td class="actions-table">
                        <button class="delete-icon" matTooltip="Edit"><img src="../../../../assets/images/edit-button-gray.svg" width="20"></button>
                        <button class="delete-icon" matTooltip="Delete"><img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    </td>
                </tr>
                <tr>
                    <td class="form-name">
                        <div class="first-col-inner-main">
                            <div class="first-later-name D">
                                D
                            </div>
                            <div class="worked-name">D-Clysync-2 
                                <span>
                                    <img src="../../../../assets/images/users-bunch.svg" width="15"> 13
                                </span> 
                            </div>
                        </div>
                    </td>
                    <td class="description">This is description</td>
                    <td class="added-on">4/28/2020</td>
                    <td class="actions-table">
                        <button class="delete-icon" matTooltip="Edit"><img src="../../../../assets/images/edit-button-gray.svg" width="20"></button>
                        <button class="delete-icon" matTooltip="Delete"><img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    </td>
                </tr>
                <tr>
                    <td class="form-name">
                        <div class="first-col-inner-main">
                            <div class="first-later-name E">
                                E
                            </div>
                            <div class="worked-name">E-Clysync-2 
                                <span>
                                    <img src="../../../../assets/images/users-bunch.svg" width="15"> 13
                                </span> 
                            </div>
                        </div>
                    </td>
                    <td class="description">This is description</td>
                    <td class="added-on">4/27/2020</td>
                    <td class="actions-table">
                        <button class="delete-icon"  matTooltip="Edit"><img src="../../../../assets/images/edit-button-gray.svg" width="20"></button>
                        <button class="delete-icon" matTooltip="Delete"><img src="../../../../assets/images/trash-icon.svg" width="20"></button>
                    </td>
                </tr>
            </tbody>


        </table>

        
    </div>


</div>